<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kratos18.kratos2k18">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kratos_logo_fx"
        android:label="Admin daww"
        android:roundIcon="@drawable/kratos_logo_fx"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CollectCSV"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterNew"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".AllActivities"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ScanQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MarkQRActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".ShowDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectEvent"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".LunchActivity" />
        <activity android:name=".LunchIncharge" />
        <activity
            android:name=".WinnersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseWinners"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewParticipants"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>